* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;

    overflow-x: hidden;
}

.page {
    position: relative;

    width: 100%;
    max-width: 1400px;

    margin: 0 auto;

    padding: clamp(
        12px,
        3vw,
        32px
    );
}